@{
    ViewBag.Title = "CheckAggregate";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="jumbotron" style="margin-bottom: 0px; background-image: url(~/Content/images/background_bottom-gif.jpg); background-position: 0% 25%; background-size: cover; background-repeat: no-repeat; color: white; text-shadow: black 0.3em 0.3em 0.3em; background:#FFD573 ">
    <h2>Check Aggregate</h2>
</div>

<div class="form-group">
    @using(Html.BeginForm("CheckAggregate","Student",FormMethod.Post))
    { 
        <div class="col-xs-6 col-md-4">
                <b>@Html.Label("Enter HSSC Marks")</b>
                @Html.TextBox("HSSC", " ", new { id = "hssc", @class = "form-control" });
                <br />
                <b>@Html.Label("Enter SSC Marks")</b>
                @Html.TextBox("SSC", " ", new { id="ssc" , @class="form-control"});
                <br />
                <b>@Html.Label("Enter Entry Test Marks")</b>
                @Html.TextBox("Marks", " ", new {id="m" , @class="form-control" });                 
                <br />
                <div class="col-xs-6 col-sm-8">
                </div>
                <input type="submit" class="btn btn-success" value="Get Marks" />
                <br />
                <div class="col-xs-6 col-sm-8">
                </div>
                <button type="button" class="btn btn-link" id="probability">Check Probability Of Admission</button>  
        </div>
    }
</div>